* {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    line-height: 1;
    outline: none;
    text-decoration: none;
    -webkit-appearance: none;
    padding: 0;
    margin: 0;
}

html,
body,
#__next,
#layout {
    height: 100%;
}

#layout {
    display: flex;
    flex-direction: column;
}

.review-text-p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
}

@media (min-width: 600px) {
    .review-text-p {
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

@media (min-width: 900px) {
    .review-text-p {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 24px;
    }
}

@media (min-width: 2100px) {
    .review-text-p {
        font-size: 20px;
        margin-bottom: 26px;
    }
}
